---
layout: default
title: Home
---

<!-- [Brizo] manual internationalization... -->
<script>
    var active_lang = "en"; // check _config.yml for languages array and other language definitions
    function get_active_lang() {
        return active_lang;
    }
    function set_active_lang(activeLang) {
        active_lang = activeLang;
    }
</script>

{% if page.url == "/" %}

<!-- Featured
================================================== -->
<section class="featured-posts">
    <div class="section-title">
        get_active_lang()
        <p></p>
        <h2><span>{{ site.featured_description[get_active_lang()] }}</span></h2>  <!-- [Brizo] Manual internacionalization: added get_active_lang (internationalization) -->
    </div>
    <div class="row">

    {% for post in site.posts %}

        {% if post.featured == true and post.lang == get_active_lang() %}  <!-- [Brizo] Manual internacionalization: added get_active_lang (internationalization) -->

            {% include featuredbox.html %}

        {% endif %}

    {% endfor %}

    </div>
</section>

{% endif %}

<!-- Posts Index
================================================== -->
<section class="recent-posts">

    <div class="section-title">

        <h2><span>Recent</span></h2>

    </div>

    <div class="row listrecent">

        {% for post in paginator.posts %}

            <!-- {% if post.lang == get_active_lang() %}   <!--   [Brizo] add this if? -->
                
                {% include postbox.html %}

            <!-- {% endif %} -->

        {% endfor %}

    </div>

</section>

<!-- Pagination
================================================== -->
<div class="bottompagination">
<div class="pointerup"><i class="fa fa-caret-up"></i></div>
<span class="navigation" role="navigation">
    {% include pagination.html %}
</span>
</div>

