<style>
    .button {
      border: none;
      color: black;
      padding: 4px 12px 4px 12px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 13px;
      margin: 4px 4px;
      border-radius: 4px;
      cursor: arrow;
      background-color: #eeeeee;
    }
    
    /*.button1 {background-color: #4CAF50;} /* 4CAF50 Green */
    /*.button2 {background-color: #008CBA;} /* Blue */
</style>

{% if post.hasInteractivity %}
<button class="button">interactive</button>
{% endif %}
{% if post.hasVideo %}
<button class="button">video</button>
{% endif %}
{% if post.hasPaper %}
<button class="button">paper</button>
{% endif %}
{% if post.hasSourceCode %}
<button class="button">source code</button>
{% endif %}
{% if post.hasAudio %}
<button class="button" >audio</button>
{% endif %}
{% if post.hasScore %}
<button class="button">music score</button>
{% endif %}
{% if post.hasPDF %}
<button class="button">PDF</button>
{% endif %}
